<launch>

  <rosparam file="$(find panda_pick_place)/config/pick_place.yaml" />
  <node name="panda_pick_place" pkg="panda_pick_place" type="panda_pick_place.py" respawn="false" output="screen">
  </node>
  <node name="panda_vision" pkg="panda_pick_place" type="panda_vision.py" respawn="false" output="screen">
  </node>
  <node name="panda_controller" pkg="panda_pick_place" type="panda_controller.py" respawn="false" output="screen">
  </node>
  <!-- <node name="tf2_broadcaster" pkg="panda_pick_place" type="tf2_broadcaster.py" respawn="false" output="screen">
  </node> -->

</launch>
